<!DOCTYPE HTML>
<html>
<body>
    <div class="col-md-4 login">
        <section class="login-form">
            <form role="login">
                <H3 translate="TITLE_LOGIN_NEARSHORE"></H3>

                <md-input-container flex="">
                    <label translate="USER"></label>
                    <input id="user" type="text" name="text" class="input-lg">
                </md-input-container>

                <md-input-container flex="">
                    <label translate="PASSWORD"></label>
                    <input type="password" class="input-lg" id="password">
                </md-input-container>

                <br><button class="btn btn-lg btn-primary" ng-click="validateLogin()" translate="LOGIN"></button>
            </form>
        </section>
    </div>
</body>

</html>